<h2>ติดต่อเรา</h2>
<hr />
<div class="row">
    <div class="col-6">
        <h4>แผนที่ร้าน</h4>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15542.78182077708!2d100.92483947750671!3d13.118469321576699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102b67ef835f265%3A0x963c6129282e5cb!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiB4Lip4LiV4Lij4Lio4Liy4Liq4LiV4Lij4LmMIOC4p-C4tOC4l-C4ouC4suC5gOC4guC4leC4qOC4o-C4teC4o-C4suC4iuC4sg!5e0!3m2!1sth!2sth!4v1724744015707!5m2!1sth!2sth"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="col-6">
        <div class="row">
            <h4>ที่ตั้งร้าน</h4>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-9">
                    <p>
                        199 หมู่ที่ 6 อำเภอศรีราชา ชลบุรี 20230
                        มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
                    </p>
                </div>
            </div>

            <h4 class="mt-4">เบอร์โทร.ติดต่อร้าน</h4>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-9">
                    <p>
                        038354580
                    </p>
                </div>
            </div>

            <h4 class="mt-4">Social media</h4>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-9">
                    <p>
                        <a href="https://www.facebook.com/profile.php?id=100005299516389"><i class="bi bi-facebook"
                                style="font-size: 50px;"></i></a>
                        <a href="http://www.src.ku.ac.th/"><i class="bi bi-globe-americas"
                                style="font-size: 50px;"></i></a>
                        <a href="https://www.instagram.com/norateeinstul/"><i class="bi bi-instagram"
                                style="font-size: 50px;"></i></a>

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>