<h2>Menu</h2>
<hr />

<div class="row">
    <div class="col-4">
        <h3>เมนูอาหารคาว</h3>
    </div>

    <div class="col-8">
        <div class="row">
            <div class="col-4">

                <div class="card">
                    <div class="text-center">
                        <img src="https://www.tastingtable.com/img/gallery/simple-spaghetti-carbonara-recipe/l-intro-1670253292.jpg"
                            class="rounded" style="width: 250px; margin-top: 10px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            spaghetti carbonara
                        </div>
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                    <div class="text-center">
                        <img src="https://www.foodandwine.com/thmb/KXJgXSgNZ1tUKFxZJ1bYXP7D668=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/pasta-aglio-e-olio-FT-RECIPE0324-e53bdb7ca42d4377ab4f014a2b58ff4e.jpg"
                            class="rounded" style="width: 250px; margin-top: 10px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            spaghetti aglio e olio
                        </div>
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                    <div class="text-center">
                        <img src="https://www.allrecipes.com/thmb/ASRzxoRrPoMLQEpczFvU7osJNF4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/21353-italian-spaghetti-sauce-with-meatballs-2x1-141-cedbb650b4264576ab923c91215ce7fc.jpg"
                            class="rounded" style="width: 250px; margin-top: 10px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            spaghetti meatball
                        </div>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
            <h3>เมนูอาหารหวาน</h3>
        </div>

        <div class="col-8">

            <div class="row">
                <div class="col-4">

                    <div class="card">
                        <div class="text-center">
                            <img src="https://www.shutterstock.com/image-photo/tiramisu-cake-decorated-cocoa-powder-600nw-2151535997.jpg"
                                class="rounded" style="width: 250px; margin-top: 10px;">
                        </div>
                        <div class="card-body">
                            <div class="card-title h5">
                                tiramisu
                            </div>
                            <p class="card-text">

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-4">

                    <div class="card">
                        <div class="text-center">
                            <img src="https://www.inspiredtaste.net/wp-content/uploads/2024/03/New-York-Cheesecake-Recipe-2.jpg"
                                class="rounded" style="width: 250px; margin-top: 10px;">
                        </div>
                        <div class="card-body">
                            <div class="card-title h5">
                                cheesecake
                            </div>
                            <p class="card-text">

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-4">

                    <div class="card">
                        <div class="text-center">
                            <img src="https://www.kuali.com/wp-content/uploads/2014/12/ice-cream.jpg" class="rounded"
                                style="width: 250px; margin-top: 10px;">
                        </div>
                        <div class="card-body">
                            <div class="card-title h5">
                                strewberry gelato
                            </div>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-4">
                <h3>เมนูเครื่องดื่ม</h3>
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col-4">

                        <div class="card">
                            <div class="text-center">
                                <img src="https://espressocoffeeguide.com/wp-content/uploads/2022/08/strawberry-italian-soda.jpg"
                                    class="rounded" style="width: 250px; margin-top: 10px;">
                            </div>
                            <div class="card-body">
                                <div class="card-title h5">
                                    italian soda
                                </div>
                                <p class="card-text">

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">

                        <div class="card">
                            <div class="text-center">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOPBTuck_EPTIefdVUhUcMQkk3TUvNiw0b7Q&s"
                                    class="rounded" style="width: 250px; margin-top: 10px;">
                            </div>
                            <div class="card-body">
                                <div class="card-title h5">
                                    milkshake
                                </div>
                                <p class="card-text">

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">

                        <div class="card">
                            <div class="text-center">
                                <img src="https://free2bfoods.com/cdn/shop/articles/Dark_Chocolate_Mint_Milkshake_Blog_09c78729-4f01-4887-8dc5-7ae610f627fc_1000x.jpg?v=1602875798"
                                    class="rounded" style="width: 250px; margin-top: 10px;">
                            </div>
                            <div class="card-body">
                                <div class="card-title h5">
                                    mintchocolate
                                </div>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>